/* Icons from directory "" */
.icon-chat,.icon-chat\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-chat-dims{width:300px;height:300px}
.icon-download,.icon-download\:regular{background-image:url('icons/icons.svg');background-position:0 -300px;background-repeat:no-repeat}
.icon-download-dims{width:300px;height:300px}
.icon-edit,.icon-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -600px;background-repeat:no-repeat}
.icon-edit-dims{width:300px;height:300px}
.icon-envelope,.icon-envelope\:regular{background-image:url('icons/icons.svg');background-position:0 -900px;background-repeat:no-repeat}
.icon-envelope-dims{width:300px;height:300px}
.icon-garbage,.icon-garbage\:regular{background-image:url('icons/icons.svg');background-position:0 -1200px;background-repeat:no-repeat}
.icon-garbage-dims{width:300px;height:300px}
.icon-house,.icon-house\:regular{background-image:url('icons/icons.svg');background-position:0 -1500px;background-repeat:no-repeat}
.icon-house-dims{width:300px;height:300px}
.icon-magnifying-glass,.icon-magnifying-glass\:regular{background-image:url('icons/icons.svg');background-position:0 -1800px;background-repeat:no-repeat}
.icon-magnifying-glass-dims{width:300px;height:300px}
.icon-photo-camera,.icon-photo-camera\:regular{background-image:url('icons/icons.svg');background-position:0 -2100px;background-repeat:no-repeat}
.icon-photo-camera-dims{width:300px;height:300px}
.icon-placeholder,.icon-placeholder\:regular{background-image:url('icons/icons.svg');background-position:0 -2400px;background-repeat:no-repeat}
.icon-placeholder-dims{width:300px;height:300px}
.icon-printer,.icon-printer\:regular{background-image:url('icons/icons.svg');background-position:0 -2700px;background-repeat:no-repeat}
.icon-printer-dims{width:300px;height:300px}
.icon-share,.icon-share\:regular{background-image:url('icons/icons.svg');background-position:0 -3000px;background-repeat:no-repeat}
.icon-share-dims{width:300px;height:300px}
.icon-shopping-cart,.icon-shopping-cart\:regular{background-image:url('icons/icons.svg');background-position:0 -3300px;background-repeat:no-repeat}
.icon-shopping-cart-dims{width:300px;height:300px}